//Priemra seccion

section.seccion-valor {
  @include flexbox-column(column, flex-start, center, 0px);
  width: 100%;
}

section {
  .titulo-principal {
    @include flexbox-column(column, flex-start, center, 12px);
  }
}

section {
  .primer-contenido {
    @include flexbox-row(row, center, center, 200px);
    width: 100%;
  }
}

.primer-contenido {
  .contenido-p {
    font-size: $font-size-small;
    font-weight: $font-weight-0;
  }
}

.primer-contenido {
  .guitarra-foto {
    @include flexbox-column(column, center, center, 12px);
  }
}

.guitarra-foto {
  .guitar-madera {
    width: 520px;
    height: 540px;
    box-shadow: 9px -9px $primary-color;
  }
}

//Segunda seccion

section.seccion-dos {
  @include flexbox-column(column, center, center, 0px);
  width: 100%;
}

.seccion-dos {
  .items {
    @include flexbox-row(row, center, center, 100px);
    width: 100%;
  }
}

.items {
  .pilares {
    width: 100%;
    height: 300px;
    box-shadow: 9px -9px $primary-color;
  }
}

.items {
  .pilar-info {
    @include flexbox-column(column, center, center, 8px);
    word-wrap: break-word;
  }
}

.pilar-info {
  p {
    text-align: center;
  }
}

.items {
  div {
    @include flexbox-column(column, center, center, 20px);
    width: 355px;
  }
}
